pipeline/PL_Append_Act_1.json
{
	"name": "PL_Append_Act_1",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Numbers",
					"value": {
						"value": "10",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable 2",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Numbers",
					"value": {
						"value": "20",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable  3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fin_Numbers",
					"value": {
						"value": "@variables('Numbers')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable  3",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Append variable 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Numbers",
					"value": {
						"value": "arjun",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Numbers": {
				"type": "Array",
				"defaultValue": []
			},
			"Fin_Numbers": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "July_Batch"
		},
		"annotations": [],
		"lastPublishTime": "2025-09-02T02:28:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}