pipeline/PL_COPY_FILE_IF_FILE_AVAIL_WITH_PL ACTIVTY.json
{
	"name": "PL_COPY_FILE_IF_FILE_AVAIL_WITH_PL ACTIVTY",
	"properties": {
		"activities": [
			{
				"name": "GET CLAIMS_dATA FILE DETAILS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DSJulybatchsrc",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"itemName",
						"columnCount",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GET CLAIMS_dATA FILE DETAILS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GET CLAIMS_dATA FILE DETAILS').output.exists, true)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "delete claims data file",
							"type": "Delete",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "CALLING copy DL to DL PL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DSJulybatchsrc",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "akeadejulstor_dl_ls",
										"type": "LinkedServiceReference"
									},
									"path": "input2"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "CALLING copy DL to DL PL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Copy_DL_to_DL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "July_Batch"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-13T03:06:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}