pipeline/PL_CHECK_FILE_AVAL.json
{
	"name": "PL_CHECK_FILE_AVAL",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_4",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.PL_Filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.exists,False )\r\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(pipeline().parameters.PL_Filename,' file not available')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "FILE N/A",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PL_Filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "July_Batch"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-18T02:36:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}