pipeline/PL_Filter_1.json
{
	"name": "PL_Filter_1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "NumbersArray",
					"value": {
						"value": "@createArray(1,2,3,4,5,6,7,8,9,10)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterEven",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('NumbersArray')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(mod(item(),2),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FilterEven",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EvenNumbersArray",
					"value": {
						"value": "@activity('FilterEven').output.Value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterEven_copy1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('NumbersArray')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(mod(item(),2),1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FilterEven_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OddNumbersArray",
					"value": {
						"value": "@activity('FilterEven_copy1').output.Value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"NumbersArray": {
				"type": "Array"
			},
			"EvenNumbersArray": {
				"type": "Array"
			},
			"OddNumbersArray": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Arjun"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-18T03:02:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}