pipeline/PL_Foreach_2.json
{
	"name": "PL_Foreach_2",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileList",
					"value": {
						"value": "@createArray('emp.csv','dept.csv','sal.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('FileList')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Filename",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileList": {
				"type": "Array"
			},
			"Filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Arjun"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-17T17:14:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}