aksjuldevadf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aksjuldevadf"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"DL_Src_Files_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DL_Src_Files'"
		},
		"LS_July2025ss2_db_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_July2025ss2_db'"
		},
		"LS_Silver_Storage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Silver_Storage'"
		},
		"akeadejulstor_dl_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'akeadejulstor_dl_ls'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://akeadejulstor.dfs.core.windows.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "aksjul2025ss2.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "july2025_batch"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aksjul2025ss2_admin"
		},
		"DL_Src_Files_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://akeadejulstor.dfs.core.windows.net/"
		},
		"LS_July2025ss2_db_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "aksjul2025ss2.database.windows.net"
		},
		"LS_July2025ss2_db_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "aksjul2025ss2_db"
		},
		"LS_July2025ss2_db_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aksjul2025ss2_admin"
		},
		"LS_Silver_Storage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://akeadejulstor.dfs.core.windows.net/"
		},
		"akeadejulstor_dl_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://akeadejulstor.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_ADD_2_NUM_DYN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Message",
								"value": "This is to show parameters and variabale concept"
							}
						],
						"typeProperties": {
							"variableName": "Total",
							"value": {
								"value": "@add(pipeline().parameters.Num1,pipeline().parameters.Num2)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Num1": {
						"type": "int"
					},
					"Num2": {
						"type": "int"
					}
				},
				"variables": {
					"Total": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "July_Batch"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-17T02:34:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ADD_2_NUM_STAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Total",
							"value": {
								"value": "@add(5,7)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Total": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "July_Batch"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-17T02:34:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Append_Act_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Numbers",
							"value": {
								"value": "10",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable 2",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Numbers",
							"value": {
								"value": "20",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Append variable  3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fin_Numbers",
							"value": {
								"value": "@variables('Numbers')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable  3",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append variable 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Numbers",
							"value": {
								"value": "arjun",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Numbers": {
						"type": "Array",
						"defaultValue": []
					},
					"Fin_Numbers": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "July_Batch"
				},
				"annotations": [],
				"lastPublishTime": "2025-09-02T02:28:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Append_Variable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Name",
							"value": "[['reddy']"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Name": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "July_Batch"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-17T03:02:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_FOREACH_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Init_Numbers",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Numbers",
							"value": {
								"value": "@createArray(1,2,3,4,5,6)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FE_Numbers",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Init_Numbers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Numbers')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Wait1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "AllNumbers",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Numbers": {
						"type": "Array",
						"defaultValue": []
					},
					"AllNumbers": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Arjun"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-19T02:53:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_FOREACH_JUL_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Numbers",
							"value": {
								"value": "@createArray(1,2,3,4,5)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Foreach_1to5",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Numbers')",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Number_Value",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Numbers": {
						"type": "Array"
					},
					"Number_Value": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "July_Batch"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-19T02:09:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Fail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "'Hi all file not found in given path'",
								"type": "Expression"
							},
							"errorCode": {
								"value": "FileNotFound",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "July_Batch"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-18T02:36:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Filter_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "NumbersArray",
							"value": {
								"value": "@createArray(1,2,3,4,5,6,7,8,9,10)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FilterEven",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('NumbersArray')",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(mod(item(),2),0)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FilterEven",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EvenNumbersArray",
							"value": {
								"value": "@activity('FilterEven').output.Value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FilterEven_copy1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('NumbersArray')",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(mod(item(),2),1)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable2_copy1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FilterEven_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "OddNumbersArray",
							"value": {
								"value": "@activity('FilterEven_copy1').output.Value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"NumbersArray": {
						"type": "Array"
					},
					"EvenNumbersArray": {
						"type": "Array"
					},
					"OddNumbersArray": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Arjun"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-18T03:02:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Foreach_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "FileList",
							"value": {
								"value": "@createArray('emp.csv','dept.csv','sal.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('FileList')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Filename",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"FileList": {
						"type": "Array"
					},
					"Filename": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Arjun"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-17T17:14:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SYS_VARIABLES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ADF_Name",
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Pipe_Line_Name",
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ADF_Name": {
						"type": "String"
					},
					"Pipe_Line_Name": {
						"type": "String"
					}
				},
				"folder": {
					"name": "July_Batch"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-17T02:50:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Webactivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": {
									"value": "\"application/json\"",
									"type": "Expression"
								}
							},
							"url": "https://prod-31.southindia.logic.azure.com:443/workflows/bced34b1b2084d32ac94d8957dc7ff86/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=dEW1aqqDQbQqez4XbISWBwhQTqMA6DP5cm63hC36NK0",
							"body": {
								"to": "aksharasoftwarebnglr@gmail.com",
								"subject": "ADF Pipeline Completed",
								"body": "Your pipeline finished successfully."
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Arjun"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-18T19:13:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_append_numbers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Numbers",
							"value": {
								"value": "1",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append_2",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Numbers",
							"value": {
								"value": "2",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append_3",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Numbers",
							"value": {
								"value": "3",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Show_Final_Numbers",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Append_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "FinaleNumbers",
							"value": {
								"value": "@variables('Numbers')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Numbers": {
						"type": "Array",
						"defaultValue": []
					},
					"FinaleNumbers": {
						"type": "Array"
					},
					"S_Numbers": {
						"type": "Array",
						"defaultValue": []
					}
				},
				"folder": {
					"name": "Arjun"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-17T17:09:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_setactivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "S_Numbers",
							"value": {
								"value": "@array(createArray(1,2,3))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable1_copy1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "S_Numbers",
							"value": {
								"value": "@array(createArray(4,5,6))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"S_Numbers": {
						"type": "Array",
						"defaultValue": []
					}
				},
				"folder": {
					"name": "Arjun"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-17T17:09:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Switch1",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.Gender",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "M",
									"activities": [
										{
											"name": "Set variable1",
											"type": "SetVariable",
											"dependsOn": [],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "Message",
												"value": {
													"value": "Good boy",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"value": "F",
									"activities": [
										{
											"name": "Set variable2",
											"type": "SetVariable",
											"dependsOn": [],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "Message",
												"value": {
													"value": "Good Girl",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Gender": {
						"type": "string"
					}
				},
				"variables": {
					"Message": {
						"type": "String",
						"defaultValue": "M"
					}
				},
				"folder": {
					"name": "July_Batch"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-20T01:59:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DL_Src_Files')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DL_Src_Files_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DL_Src_Files_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_July2025ss2_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_July2025ss2_db_properties_typeProperties_server')]",
					"database": "[parameters('LS_July2025ss2_db_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_July2025ss2_db_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_July2025ss2_db_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Silver_Storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Silver_Storage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Silver_Storage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/akeadejulstor_dl_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('akeadejulstor_dl_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('akeadejulstor_dl_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}